{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}
{{object.get_full_name }}
{% endblock head_title %}

{% block content %}
<div class="p-lg-5 min-vh-100">
    <h1>{{object.get_full_name}}</h1>
    <hr>
    <div class="p-lg-5">
        <div class="p-5 border bg-dark shadow col-lg-6 col-sm-12 mx-auto rounded-5"
            >
            <div class="text-center pb-5 my-0">
                <a href="#"
                    class="btn btn-sm btn-outline-light px-5 my-sm-3"
                    type="submit">Edit</a>
                <a href="#"
                    class="btn btn-sm btn-outline-light px-5"
                    type="submit">Add Address</a>
                <a href="#"
                    class="btn btn-sm btn-outline-light px-5"
                    type="submit">Add Contact</a>
                <a href="#"
                    class="btn btn-sm btn-outline-light px-5"
                    type="submit">Add Passport</a>
            </div>
            <div class="mx-auto">
                <div class="row">
                    <div class="col-lg-4 col-sm-2 bg-light shadow p-lg-3 py-sm-3 text-end rounded-5"
                        >
                        <p>Name</p>
                        <p>Height</p>
                        <p>Weight</p>
                        <p>Date of Birth</p>
                        <p>Place of Birth</p>
                        <p>Nationality</p>
                        <p>Overstayed in a country</p>
                        <p>Have been convicted</p>
                        <p>Religion</p>
                        <p>Marital Status</p>
                        <p>Address</p>
                    </div>
                    <div class="col-lg-7 border border-white p-3 text-white mx-1 col-sm-2 py-sm-3 rounded-5"
                        >
                        <p>{{object.get_full_name}}</p>
                        <p>{{object.ht_ft|default:"--" }}ft /
                            {{object.ht_in|default:"--" }}in</p>
                        <p>{{object.wt_lbs|default:"--" }}lbs /
                            {{object.wt_ks|default:"--" }}kg</p>
                        <p>{{object.dob}}</p>
                        <p>{{object.pob}}</p>
                        <p>{{object.nationality}}</p>
                        <p>{{object.overstayed|yesno|title}}</p>
                        <p>{{object.convicted|yesno|title}}</p>
                        <p>{{object.religion|default:"--" }}</p>
                        <p>{{object.marital_status|default:"--" }}</p>
                        <p>
                         {{object.addresses.last|default:"No address"}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}